@charset "UTF-8";
@import "index.html";

body {
    background-image: linear-gradient(to left, #ffedd3 30%, #ad572f);
}

.image {
    align-items: center;
    justify-content: center;
    display: flex;
}

